<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/employeeManagement">Employee Management</a>
    </li>
    <li class="breadcrumb-item">Search Employee</li>
    <li class="breadcrumb-item active">Results</li>
</ol>

<style>
    #green {
        height: auto;
        width: auto;
        max-width: 20px;
        max-height: 20px;
    }
    #red {
        height: auto;
        width: auto;
        max-width: 20px;
        max-height: 20px;
    }
    #profile {
        height: auto;
        width: auto;
        max-width: 150px;
        max-height: 150px;
        
    }
    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
</style>
<div class="row">
    <div class="col-md-3">
        <div class="card mb-3">
            <img class="card-img-top center" id="profile" src="/images/pr.png" alt=" Card image cap">
            <div class="card-body">
                <h5 class="card-title">Peter Röhm</h5>
                <p class="card-text"> 3 years in CNBP</p>
                <h6>Education</h6>
                <p>Machine Engineer</p>
                <h6>Expertise</h6>
                <p>Reshaping Standard products to Non-Standard products</p>
                <hr>
                Unavailable <img id="green" src="/images/red.png"> <a href="#" data-toggle="modal" data-target="#profile1"
                    class="btn btn-primary" style="float:right;">Contact</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-3">
            <img class="card-img-top center" id="profile" src="/images/pz.png" alt=" Card image cap">
            <div class="card-body">
                <h5 class="card-title">Patricia Zeidan</h5>
                <p class="card-text"> 10 years in CNBP</p>
                <h6>Education</h6>
                <p>Industrial Designer</p>
                <h6>Expertise</h6>
                <p>Identification of new markets to enter</p>
                <hr>
                Available <img id="green" src="/images/green.png"> <a href="#" data-toggle="modal" data-target="#profile2"
                class="btn btn-primary" style="float:right;">Contact</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-3">
            <img class="card-img-top center" id="profile" src="/images/ck.png" alt=" Card image cap">
            <div class="card-body">
                <h5 class="card-title">Cathrine Kaalstad</h5>
                <p class="card-text"> 2 years in CNBP</p>
                <h6>Education</h6>
                <p>MSc in Finance</p>
                <h6>Expertise</h6>
                <p>CFO and other leaderchip positions</p>
                <hr>
                Unavailable <img id="green" src="/images/red.png"> <a href="#" data-toggle="modal" data-target="#profile3"
                class="btn btn-primary" style="float:right;">Contact</a>
            </div>
        </div>
    </div>
</div>

<!-- Profile 1 Modal-->
<div class="modal fade" id="profile1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact Peter Röhm</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Department:</td>
                                <td>Production</td>
                            </tr>
                            <tr>
                                <td>Hire date:</td>
                                <td>06/23/2013</td>
                            </tr>
                            <tr>
                                <td>Date of Birth</td>
                                <td>01/24/1988</td>
                            </tr>

                            <tr>
                            <tr>
                                <td>Gender</td>
                                <td>Male</td>
                            </tr>
                            <tr>
                                <td>Home Address</td>
                                <td>Kathmandu,Nepal</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><a href="mailto:info@support.com">peter@cnbp.com</a></td>
                            </tr>
                            <td>Phone Number</td>
                            <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                            </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Profile 2 Modal-->
<div class="modal fade" id="profile2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact Patricia Zeidan</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Department:</td>
                                <td>Production</td>
                            </tr>
                            <tr>
                                <td>Hire date:</td>
                                <td>01/02/2008</td>
                            </tr>
                            <tr>
                                <td>Date of Birth</td>
                                <td>01/24/1993</td>
                            </tr>

                            <tr>
                            <tr>
                                <td>Gender</td>
                                <td>Female</td>
                            </tr>
                            <tr>
                                <td>Home Address</td>
                                <td>Kathmandu,Nepal</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><a href="mailto:info@support.com">patricia@cnbp.com</a></td>
                            </tr>
                            <td>Phone Number</td>
                            <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                            </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Profile 3 Modal-->
<div class="modal fade" id="profile3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact Cathrine Kaalstad</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Department:</td>
                                <td>Finance</td>
                            </tr>
                            <tr>
                                <td>Hire date:</td>
                                <td>01/02/2016</td>
                            </tr>
                            <tr>
                                <td>Date of Birth</td>
                                <td>01/24/1992</td>
                            </tr>

                            <tr>
                            <tr>
                                <td>Gender</td>
                                <td>Female</td>
                            </tr>
                            <tr>
                                <td>Home Address</td>
                                <td>Kathmandu,Nepal</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><a href="mailto:info@support.com">Cathrine.k@cnbp.com</a></td>
                            </tr>
                            <td>Phone Number</td>
                            <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                            </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>