<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/employeeManagement">Employee Management</a>
    </li>
    <li class="breadcrumb-item active">Search Employee</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title text-center">Search for Employees</h4>
                <h5>Find your needed Employees! Enter the needed role and preffered skills bellow.</h5>
                <form class="text-center">
                    <div class="form-group">
                        <label for="usr">Role:</label>
                        <input type="text" class="form-control" id="usr">
                    </div>
                    <div class="form-group">
                        <label for="usr">Prederred skills:</label>
                        <input type="text" class="form-control" id="usr">
                    </div>
                    <a href="/employeeResult" class="btn btn-primary w-75 mt-3">Find Employees</a>
                </form>
            </div>

        </div>
    </div>
</div>