<!-- Breadcrumbs-->
<link href="/css/communication.css" rel="stylesheet">

<div class="messagecontainer">
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Recent</h4>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar" placeholder="Search">
              <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
              </span> </div>
          </div>
        </div>
        <div class="inbox_chat">
          <div class="chat_list active_chat">
            <div class="chat_people">
              <div class="chat_img"> <img src="/images/sc.jpg" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Salvatore Cancelliere<span class="chat_date">Sep 25</span></h5>
                <p>Hello Alex, can you please update my address? Exampleroad 123 in 32324 Leeds. Thank you!</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="/images/pr.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Peter Röhm <span class="chat_date">Sep 25</span></h5>
                <p>Hello, my new address is: testroad 12 in 28362 Leeds. Thank you!</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="/images/pz.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Patricia Zeidan <span class="chat_date">Sep 24</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="/images/ck.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Cathrine Kaalstad <span class="chat_date">Sep 23</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>CJ Bateman <span class="chat_date">Sep 23</span></h5>
                <p>Here are the latest production numbers from Aug. 2018. Please confirm this message immediately. </p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Hans Peter <span class="chat_date">Sep 22</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Amin Hunter <span class="chat_date">Sep 22</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mesgs">
        <div class="msg_history">
          <div class="incoming_msg">
            <div class="incoming_msg_img"> <img src="/images/sc.jpg" alt="sunil"> </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>Hello Alex, can you please update my address? Exampleroad 123 in 32324 Leeds. Thank you!</p>
                <span class="time_date"> 11:01 AM | June 9</span>
              </div>
            </div>
          </div>
          <div class="outgoing_msg">
            <div class="sent_msg">
              <p>Sure.</p>
              <span class="time_date"> 11:01 AM | June 9</span>
            </div>
          </div>
          <div class="incoming_msg">
            <div class="incoming_msg_img"> <img src="/images/sc.jpg" alt="sunil"> </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>Are you at the running dinner tonight?!</p>
                <span class="time_date"> 11:01 AM | Yesterday</span>
              </div>
            </div>
          </div>
          <div class="outgoing_msg" id="message" style="display: none;">
            <div class="sent_msg">
              <p id="a"></p>
              <span class="time_date"> Now | Today</span>
            </div>
          </div>
          <div class="incoming_msg" id="answer" style="display:none;">
            <div class="incoming_msg_img"> <img src="/images/sc.jpg" alt="sunil"> </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>Nice!</p>
                <span class="time_date"> Now | Today</span>
              </div>
            </div>
          </div>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input id="chat" type="text" class="write_msg" placeholder="Type a message" />
            <button class="msg_send_btn" onclick="hello()" type="button"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  function hello() {
    var a = document.getElementById('a');
    var message = document.getElementById('message');
    var textfield = document.getElementById('chat');
    
    a.innerHTML = textfield.value;
    textfield.value = "";
    message.style.display = "block";

    setTimeout(() => {
      var answer = document.getElementById('answer');
      answer.style.display = 'block';
    }, 3000);

  }

</script>