<!-- Breadcrumbs-->
<ol class="breadcrumb">
 <li class="breadcrumb-item">
   <a href="/kpis">KPI's</a>
 </li>
 <li class="breadcrumb-item active">Retention of talent</li>
</ol>

<div class="row">
  <div class="col-xl-12 col-sm-6">
    <p>
    This indicator measures the absences of employees due to delays, sick leave or excused or unexcused absences. This indicator can help predict the numbers you could be expecting. Based on the average value of the hour worked the impact of absenteeism in the company’s costs can be quantified.
    </p>
  </div>

</div>
