<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/kpis">KPI's</a>
  </li>
  <li class="breadcrumb-item active">Absenteeism</li>
</ol>

<div class="row">
  <div class="col-xl-12 col-sm-6">
    <p>
      This indicator measures the absences of employees due to delays, sick leave or excused or unexcused absences.
      This indicator can help predict the numbers you could be expecting. Based on the average value of the hour worked
      the impact of absenteeism in the company’s costs can be quantified.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-12">
      <div class="card-header">
        <i class="fas fa-chart-area"></i>
        Absenteeism in last year</div>
      <div class="card-body">
        <canvas id="absenteeism-chart" width="100%" height="50"></canvas>
      </div>
      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
  </div>
</div>

<script src="vendor/chart.js/Chart.min.js"></script>
<!-- Demo scripts for this page-->
<!-- <script src="js/demo/doughnut-chart.js"></script> -->
<script src="js/demo/kpi-chart.js"></script>
<!-- <script src="js/demo/chart-pie-demo.js"></script> -->