

<!-- Breadcrumbs-->
<ol class="breadcrumb">
 <li class="breadcrumb-item">
   <a href="/kpis">KPI's</a>
 </li>
 <li class="breadcrumb-item active">Duration in the position</li>
</ol>

<div class="row">
  <div class="col-xl-12 col-sm-6">
    <p>
    Being able to measure the number of accidents in the workplace is going to be extremely important and useful in order to avoid future issues.
    </p>
  </div>

</div>


<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-chart-area"></i>
        Accidents at work place</div>
      <div class="card-body">
        <canvas id="accident-chart" width="800" height="450"></canvas>
        <!-- <img src="/images/positionDuration.PNG" width="800" height="450" display="block" margin-left="auto" margin-right="auto"/> -->
      </div>
      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
  </div>

</div>

<script src="vendor/chart.js/Chart.min.js"></script>
<!-- Demo scripts for this page-->
<!-- <script src="js/demo/doughnut-chart.js"></script> -->
<script src="js/demo/accident.js"></script>
