<!-- Breadcrumbs-->
<ol class="breadcrumb">
 <li class="breadcrumb-item">
   <a href="/kpis">KPI's</a>
 </li>
 <li class="breadcrumb-item active">Duration in the position</li>
</ol>

<div class="row">
  <div class="col-xl-12 col-sm-6">
    <p>
    Many employees losses are closely related to the time that they keep in the same position. If they feel they won’t be promoted, many employees tend to look for new opportunities outside of the company. You can calculate the average time it takes for an employee to ascend by counting the number of months it takes each employee with the same charge and dividing the result by the total number of employees in the company.
    </p>
  </div>

</div>
