<!-- Breadcrumbs-->
<ol class="breadcrumb">
 <li class="breadcrumb-item">
   <a href="/kpis">KPI's</a>
 </li>
 <li class="breadcrumb-item active">Retention of talent</li>
</ol>

<div class="row">
  <div class="col-xl-12 col-sm-6">
    <p>
    The retention of talent is a KPI that indicates the job stability of a company. This allows you to learn about the average employee retention in the company and it is linked to other factors such as the remuneration or the labor climate. In addition to the cost of losing an employee, the loss of talent will force you to spend time and money to recruit a new individual. An index of high staff turnover implies high costs for the employer. The rate of retention of talent is calculated by comparing the number of workers who joined the company in a specific period vs. those who stayed during the same period.
    </p>
  </div>

</div>

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-chart-pie"></i>
        Retention rate</div>
      <div class="card-body">
        <canvas id="absenteeism-chart" width="800" height="450"></canvas>
      </div>
      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
  </div>

</div>

<script src="vendor/chart.js/Chart.min.js"></script>
<!-- Demo scripts for this page-->
<!-- <script src="js/demo/doughnut-chart.js"></script> -->
<script src="js/demo/kpi-chart.js"></script>
