<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">My profile</a>
    </li>
    <li class="breadcrumb-item active">Overview</li>
</ol>

<div class="row">
    <div class="col-md-6">
        <h2> Axxx Cxxxxxxx</h2>
        <h3>HR Manager</h3>
        <h5>axxx.cxxxxxxx@cnbp.com</h5>
        <h5>+44 123 456 789</h5>
        <h5>+44 987 654 321</h5>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
        <img src="images/pr.png" />
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Personal Details</h5>
                <h6>Education</h6>
                <p>MBA Human resource</p>
                <h6>Expertise</h6>
                <p>lorem ipsum lorem ipsum lorem ipsum</p>
                <a href="#" data-toggle="modal" data-target="#profile1" class="btn btn-primary" style="float:right;">Edit
                    Personal details</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Payment Details</h5>
                <h6>Bank name</h6>
                <p>Deutsche Bank</p>
                <h6>IBAN</h6>
                <p>DE34 5678 1234 1234 00</p>
                <a href="#" data-toggle="modal" data-target="#profile1" class="btn btn-primary" style="float:right;">Edit
                    Bank details</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Other Details</h5>
                <h6>Tax number</h6>
                <p>987654321</p>
                <h6>Insurance</h6>
                <p>AK 1234567890</p>
                <a href="#" data-toggle="modal" data-target="#profile1" class="btn btn-primary" style="float:right;">Edit
                    Other details</a>
            </div>
        </div>
    </div>
</div>