<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Survey</a>
  </li>
  <li class="breadcrumb-item active">Overview</li>
</ol>
<div class="row">
  <div class="col-md-3">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Create survey</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="/searchEmployee" class="btn btn-primary">Go!</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Watch current results</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="/vacation" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Vacation Overview</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Vacation Overview</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

    <h5>Poll: Where do you usually browse</h5>
    <strong>Windows PC</strong><span class="pull-right">30%</span>
    <div class="progress progress-danger active">
      <div class="bar" style="width: 30%;"></div>
    </div>
    <strong>Mac</strong><span class="pull-right">40%</span>
    <div class="progress progress-info active">
      <div class="bar" style="width: 40%;"></div>
    </div>
    <strong>iPad/iPhone</strong><span class="pull-right">10%</span>
    <div class="progress progress-striped active">
      <div class="bar" style="width: 10%;"></div>
    </div>
    <strong>Android</strong><span class="pull-right">5%</span>
    <div class="progress progress-success active">
      <div class="bar" style="width: 5%;"></div>
    </div>
    <strong>Others</strong><span class="pull-right">15%</span>
    <div class="progress progress-warning active">
      <div class="bar" style="width: 15%;"></div>
    </div>
    <p>
      <a href="#" class="pull-right">View detailed results</a>
    </p>
  </div>

</div>